$buttonColor: rgb(37, 161, 15);
$buttonColorHover: rgb(76, 224, 84);

$dbuttonColor: rgb(135, 13, 13);
$dbuttonColorHover: rgb(193, 42, 42);

$inputColor: rgb(23, 165, 175);
$inputColorFocus: rgb(71, 225, 233);
